{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title%}
   Contato | {{block.super}}
{% endblock %} 

{% block container %}
<h1>Entre em Contato</h1>
<form class="form-contact">
    {% render_field  form %}

</form>





{% comment %} 


<form class="form-contact">
    <label>Nome</label></label><input type="email" name="" placeholder="">
    <br><label>Email</label><input type="email" name="" placeholder="">
    <br>
    <textarea >Mensagem
    </textarea>
    <button>Enviar</button>
</form>                    {% endcomment %}
{% endblock %}
 